/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/pointing.h>

#define DEFAULT 0
#define LWR 1
#define RSE 2

// --------------------------                      --------------------------
// |  0 |  1 |  2 |  3 |  4 |                      |  5 |  6 |  7 |  8 |  9 |
// | 10 | 11 | 12 | 13 | 14 |                      | 15 | 16 | 17 | 18 | 19 |
// | 20 | 21 | 22 | 23 | 24 | 25 | 26 |  | 27 | 28 | 29 | 30 | 31 | 32 | 33 |
//      | 34 | 35 |    | 36 | 37 | 38 |  | 39 | 40 | 41 |    | 42 | 43 |
//      -----------    ----------------  ----------------    -----------

/ {
    combos {
        compatible = "zmk,combos";

        esc {
            bindings = <&kp ESC>;
            key-positions = <0 1>;
        };

        space {
            bindings = <&kp SPACE>;
            key-positions = <11 12>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <10 11>;
        };

        enter {
            bindings = <&kp ENTER>;
            key-positions = <17 18>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q  &kp W     &kp E  &kp R  &kp T                                                                       &kp Y            &kp U  &kp I      &kp O    &kp P
&kp A  &kp S     &kp D  &kp F  &kp G                                                                       &kp H            &kp J  &kp K      &kp L    &kp SEMI
&kp Z  &kp X     &kp C  &kp V  &kp B            &mt LSHFT LPAR  &mt RALT RET    &kp SPACE  &mt RSHFT RPAR  &kp N            &kp M  &kp COMMA  &kp DOT  &kp FSLH
       &kp LGUI  &mo 2         &mt LCTRL EQUAL  &lt 1 LBKT      &kp LALT        &kp RALT   &lt 1 RBKT      &mt RCTRL MINUS  &mo 2  &kp LGUI
            >;
        };

        lower_layer {
            bindings = <
&kp ESC    &kp N7  &kp N8  &kp N9  &kp BSPC                                    &kp DEL       &kp HOME    &kp UP      &kp END    &kp PG_UP
&kp N0     &kp N4  &kp N5  &kp N6  &kp DEL                                     &kp BSPC      &kp LEFT    &kp DOWN    &kp RIGHT  &kp PG_DN
&kp GRAVE  &kp N1  &kp N2  &kp N3  &kp TAB   &trans  &trans    &trans  &trans  &kp C_VOL_DN  & C_VOL_UP  &kp C_MUTE  &kp SQT    &kp BSLH
           &trans  &trans          &trans    &trans  &trans    &trans  &trans  &trans                    &trans      &trans
            >;
        };

        raise_layer {
            bindings = <
&kp F12  &kp F7  &kp F8  &kp F9  &none                                                                  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&kp F11  &kp F4  &kp F5  &kp F6  &kp DEL                                                                &none         &none         &none         &none         &none
&kp F10  &kp F1  &kp F2  &kp F3  &none       &none       &bootloader        &bootloader     &none       &none         &none         &none         &none         &none
         &none   &trans          &sys_reset  &bt BT_CLR  &studio_unlock     &studio_unlock  &bt BT_CLR  &sys_reset                  &trans        &none
            >;
        };
    };
};
