# Copyright (c) 2020 Pete Johanson, Kurtis Lew
# SPDX-License-Identifier: MIT

if SHIELD_QUINTRI2_LEFT

config ZMK_KEYBOARD_NAME
    default "Quin3"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_QUIN3_LEFT || SHIELD_QUIN3_RIGHT

config ZMK_SPLIT
    default y

endif
