# Copyright (c) 2020 Pete Johanson, Kurtis Lew
# SPDX-License-Identifier: MIT

if SHIELD_QUINTRI2_LEFT

config ZMK_KEYBOARD_NAME
    default "Quintri2"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_QUINTRI2_LEFT || SHIELD_QUINTRI2_RIGHT

config ZMK_SPLIT
    default y

endif
